#section1 {
    height: 50vw;
}


/*--------------------------------------------------
    01. General Styles 
---------------------------------------------------*/

html {
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #767676;
}

ul,
li {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
}

.image-bg {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bg {
    position: relative;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    color: white;
}

@media (min-width: 768px) {
    /* reset previous grid */
    .multi-columns-row .col-xs-6:nth-child(2n + 3) {
        clear: none;
    }
    .multi-columns-row .col-xs-4:nth-child(3n + 4) {
        clear: none;
    }
    .multi-columns-row .col-xs-3:nth-child(4n + 5) {
        clear: none;
    }
    .multi-columns-row .col-xs-2:nth-child(6n + 7) {
        clear: none;
    }
    .multi-columns-row .col-xs-1:nth-child(12n + 13) {
        clear: none;
    }
    /* clear first in row for small columns */
    .multi-columns-row .col-sm-6:nth-child(2n + 3) {
        clear: left;
    }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) {
        clear: left;
    }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) {
        clear: left;
    }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) {
        clear: left;
    }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) {
        clear: left;
    }
}

@media (min-width: 992px) {
    /* reset previous grid */
    .multi-columns-row .col-sm-6:nth-child(2n + 3) {
        clear: none;
    }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) {
        clear: none;
    }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) {
        clear: none;
    }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) {
        clear: none;
    }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) {
        clear: none;
    }
    /* clear first in row for medium columns */
    .multi-columns-row .col-md-6:nth-child(2n + 3) {
        clear: left;
    }
    .multi-columns-row .col-md-4:nth-child(3n + 4) {
        clear: left;
    }
    .multi-columns-row .col-md-3:nth-child(4n + 5) {
        clear: left;
    }
    .multi-columns-row .col-md-2:nth-child(6n + 7) {
        clear: left;
    }
    .multi-columns-row .col-md-1:nth-child(12n + 13) {
        clear: left;
    }
}

@media (min-width: 1200px) {
    /* reset previous grid */
    .multi-columns-row .col-md-6:nth-child(2n + 3) {
        clear: none;
    }
    .multi-columns-row .col-md-4:nth-child(3n + 4) {
        clear: none;
    }
    .multi-columns-row .col-md-3:nth-child(4n + 5) {
        clear: none;
    }
    .multi-columns-row .col-md-2:nth-child(6n + 7) {
        clear: none;
    }
    .multi-columns-row .col-md-1:nth-child(12n + 13) {
        clear: none;
    }
    /* clear first in row for large columns */
    .multi-columns-row .col-lg-6:nth-child(2n + 3) {
        clear: left;
    }
    .multi-columns-row .col-lg-4:nth-child(3n + 4) {
        clear: left;
    }
    .multi-columns-row .col-lg-3:nth-child(4n + 5) {
        clear: left;
    }
    .multi-columns-row .col-lg-2:nth-child(6n + 7) {
        clear: left;
    }
    .multi-columns-row .col-lg-1:nth-child(12n + 13) {
        clear: left;
    }
}


/*barra de navegación */

.navbarcentro {
    margin-left: 5vw;
    margin-right: 5vw;
}


/*barra de navegación */

.contenedor img {
    max-width: auto;
    max-height: 65.8vw;
    justify-content: center;
    position: relative;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: relative;
    top: 50px;
    left: 10px;
}

.centrado {
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*contador*/

#gtco-counter {
    position: relative;
}

.counter-item {
    text-align: center;
    z-index: 1;
    color: rgb(37, 37, 37);
}

.counter-item>i {
    display: block;
    font-size: 40px;
}

.counter-item .number {
    font-size: 60px;
    font-weight: 400;
    display: block;
}

.counter-item h4 {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.price-box {
    border: none;
}

.price-box .card-header {
    background-color: transparent;
}

.price-box small {
    font-size: 60%;
}

.price-box .price-box-list {
    min-height: 150px;
}


/*galeria*/

#galeria .container {
    padding-top: 10vw;
}

#galeria * {
    box-sizing: border-box;
}

#galeria .row {
    display: flex;
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-wrap: wrap;
}

#galeria .column {
    flex: 25%;
    padding: 1vw;
}

#galeria img {
    width: 100%;
}

.column img {
    margin-top: 1vw;
}

@media (max-width:660px) {
    #galeria .column {
        flex: 100%;
        padding: 1vw;
    }
    .row {
        padding: 1vw;
    }
    #section1 {
        height: 150vw;
    }
}

#galeria img:hover {
    border: 5px solid rgba(255, 255, 255, 0.37);
}